@import 'https://fonts.googleapis.com/css?family=Open+Sans';

@font-face {
    font-family: Futura;
    src: url(futura-book.woff);
}

html body{
    min-width: 100vw;
    min-height: 100vh;
}
body{
    font-family: Futura, Sans;
}
input{
    border-bottom: solid 1px !important;
}
.background{
    position: fixed;
    background-image: url('topography.png');
    height: 100%;
    background-repeat: repeat;
    width: 100%;
    z-index: -1;
    filter: brightness(.99);
}
.headquestion{
    text-align: center;
    font-style: italic;
    font-size: 2em;
    padding-top: 20px;
    padding-bottom: 0px;
    color: #5f92d4;
}
#box-center{
    /*box-shadow: 0px 0px 5px 10px rgba(0,0,0,.22);*/
    min-height: 100%;
    text-align: center;
    height: 100vh;
}
#image-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
#image-flex img{
    width: 150px;
    height: 150px;
}
.imgflex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.imgflex img{
    padding: 20px;
    width: 150px;
    height: 150px;
}
img:hover{
    cursor: pointer;
}
.flex span{
    font-family: Futura, sans;
}
.strip{
    background: transparent;
    background-color: rgba(0,0,0,0) !important;
    border-radius: 0px !important;
    text-decoration: none;
    list-style-type: none;
    box-shadow: none;
    outline: none;
}
.btmtext{
    color:#5f92d4;
}
.finished{
    display: inline-block;
    float: left;
    width: 50%;
    margin-top: 55px;
    margin-left: 5px;
    color: white;
}
.prev{
    display: inline-block;
    margin-top: 55px;
}
.next{
    display: inline-block;
    margin-top: 55px;
}
.button:hover{
    cursor: pointer;
}
.button{
     background-color: #5f92d4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
}
#myimgbut{
    height: 50px;
    width: 50px;
}
@media only screen and (min-width: 768px){
    body{
            display: flex;
            flex-direction: row;
    justify-content: space-around;
    }
#box-center{
    background-color: white;
    box-shadow: 0px 0px 5px 10px rgba(0,0,0,.22);
    max-height: 80vh;
    max-width: 90vw;
    min-width: 60vh;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}
    .prev{
        margin-left: 80px;
    }
}


@media only screen and (max-width: 380px){
#image-flex img{
    width: 120px;
    height: 120px;
}
.imgflex img{
    padding: 5px;
    width: 120px;
    height: 120px;
}
}